<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app was created by Shagun Srivastava. It uses data from mapbox.com and darksky web api.</p>
        <img src="/img/BeautyPlus_20170429211526_save.jpg" class="portrait">
        
    </div>
    {{>footer}}
</body>